.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 5;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* /products & /welcome */
.list-group-hack {
  padding: 0.5rem 1.25rem;
  margin-bottom: 0px;
}


/* for admin */
.sensitive {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


/* sb-admin and boostrap give a margin to p elements */
.trumbowyg-editor p {
	margin: 0px;
}