/*
search & index
*/
.card-waves .card-body, .card-angles .card-body {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link:hover {
  border-bottom-color: #aebdd4;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.table-search tbody tr:hover {
color: #858796;
background-color: #EFFCFB !important;
transition: background-color 0.4s ease;
}

.table-search tbody td:hover {
background-color: #e1f5f0 !important;
transition: background-color 0.2s ease;
}

.avatar {
  display: inline-flex;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
} 

.avatar-away::before, .avatar-offline::before, .avatar-online::before {
  content: "";
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: #ff6a5b;
  border: 0.0625rem solid #fff;
}
.avatar-online::before {
  background-color: #00ac69;
}
.avatar-offline::before {
  background-color: #d4dae3;
}
/*
* unknown
*/

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 5;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* /products & /welcome */
.list-group-hack {
  padding: 0.5rem 1.25rem;
  margin-bottom: 0px;
}


/* for admin */
.sensitive {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


/* sb-admin and boostrap give a margin to p elements */
.trumbowyg-editor p {
	margin: 0px;
}

/* menu tags */
.counter {
  color: #f3f3f3;
  border-radius: 0.35rem;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px !important;
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}



/*
  simple work in progress tag
*/
.work-in-progress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:black;
}

.not-allowed:hover {
  cursor: not-allowed !important;
}


/*
  pets profile
*/
.lbl-radio {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 15px;
	position: relative;
	cursor: pointer;
}

.lbl-radio .content .title {
	margin-bottom: 7px; 
}

input[type='radio']:checked + .lbl-radio {
	border-color: #97cf9b;
	background-color: #eeffef;
}

.noradio input[type='radio'] {
	display: none;
}

input[type='radio']:checked {
	border-color: red;
}

.opacy-disabled {
	opacity: 0.3;
    cursor: not-allowed;
}

.gender-select {
    border-color: #5194cf;
	background-color: aliceblue;
}

/*
  search owners/pets
*/
.search-owners-debts {
  color: tomato !important;
}
.search-owners-low-budget {
  color: #a77628;
}


/*
  products
*/
.product-not-sellable {
  color: #ff6a5b;
}
.product-not-sellable a {
  color: #ff6a5b;
}
.product-not-sellable::after {
  color: rgb(87, 87, 87);
  content: " \e060"; /* Correct Unicode for fa-handshake-slash */
  font-family: "Font Awesome 6 Free"; /* Ensure correct Font Awesome family */
  font-weight: 600; /* For solid icons */
}