on: [push, pull_request]
name: Main
jobs:
  phpinsights:
    name: PHP-Insights
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: PHP-Insights
      uses: docker://tienvx/phpinsights-action
